#float_r_box {
    position: fixed;
    right: 28px;
    top: 130px;
    bottom: 10px;
    z-index: 100;
    width: 52px;
    height: 256px;
    a {
        overflow: hidden;
        display: inline-block;
        zoom: 1;
        width: 52px;
        height: 52px;
        float: left;
        text-indent: -9999px;
        background: url(http://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
    }
    .f_home {
        background-position: 0 -622px;
    }
    .f_wei {
        background-position: 0 -674px;
        height: 51px;
        line-height: 52px;
        font-weight: bold;
        color: #e72519;
        text-align: center;
        width: 52px;
        position: relative;
        text-indent: 0;
        i {
            position: absolute;
            color: #fff;
            right: 11px;
            top: 8px;
            height: 12px;
            width: auto;
            min-width: 12px;
            background: red;
            font-size: 12px;
            line-height: 12px;
            padding: 2px;
        }
    }
    .f_wei:hover {
        background-color: none;
        background-position: -52px -674px;
        text-indent: -999px;
        font-size: 14px;
        color: #fff;
        i {
            display: none;
        }
    }
    .f_back {
        background-position: 0 -777px;
        height: 50px;
    }
    .f_top {
        background-position: 0 -827px;
        height: 51px;
    }
    .f_back:hover {
        background: red;
        color: #fff;
        text-indent: 0;
        font-family: "Microsoft YaHei";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        padding: 0;
        text-align: center;
        text-decoration: none;
    }
    .f_top:hover {
        background: red;
        color: #fff;
        text-indent: 0;
        font-family: "Microsoft YaHei";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        padding: 0;
        text-align: center;
        text-decoration: none;
    }
    .f_home:hover {
        background: red;
        color: #fff;
        text-indent: 0;
        font-family: "Microsoft YaHei";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        padding: 0;
        text-align: center;
        text-decoration: none;
    }
}

#nav {
    .container {
        border-bottom: 2px solid #d2b994;
    }
    color: #505050;
    font-size: 16px;
    .nav_1 {
        li {
            float: left;
            height: 48px;
            line-height: 48px;
            padding: 0 10px;
            cursor: pointer;
            .global {
                width: 20px;
                height: 20px;
                display: inline-block;
                float: left;
                margin-top: 13px;
                margin-right: 5px;
                background: url(http://s.maiyaole.com/images/201306/images/haitao_ico.gif) no-repeat 0 0;
            }
        }
        >li:nth-child(1) {
            color: #fff;
            width: 168px;
            background-color: #193239;
            padding-left: 12px;
            font-size: 14px;
            position: relative;
        }
        .fw:hover .nav_2 {
            display: block;
        }
    }
    .nav_2 {
        display: none;
        position: absolute;
        top: 48px;
        left: 0;
        background-color: #314249;
        li {
            color: #fff;
            height: 40px;
            width: 168px;
            padding-left: 8px;
            background-color: #314249;
            font-weight: 200;
            font-size: 12px;
            i {
                display: inline-block;
                font-size: 22px;
                padding-right: 10px;
            }
        }
        li:hover {
            position: relative;
            left: 0;
            //      margin-left: 10px;
            background-color: #fff;
            color: #314249;
            width: 100%;
        }
    }
}

/*main左边的样式*/
#main{
    .fr{
        margin-right: 100px;
        margin-top: 20px;
        h1{
            span{
                display: inline-block;
                margin-right: 6px;
                font-size: 14px;
                color: #0193e8;
                border:1px solid #0193e8 ;
                padding: 0 2px;
            }
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: 700;
            font-family: 'microsoft yahei';
            color: #5E5E5E;
        }
        .priceBox{
            padding: 20px;
            span:nth-child(2){
                color: red;
                font-size: 24px;
                padding: 0 4px;
            }
            span:nth-child(3){
                background-color: red;
                color: #fff;
                padding: 0 4px;
                font-size: 14px;
            }
        }
        .linkBox{
            width:450px;
           
            button{
                background-color: #0099F1;
                color: #fff;
                border: 2px solid #0099F1;
                padding: 10px;
            }
            input{
                display: inline-block;
                width: 100px;
                height: 36px;
                vertical-align: middle;
                position: relative;
                top: -2px;
                left: 4px;
            }
            p{
                border: 1px solid #DBDBDB;
                padding: 10px 2px;
                margin: 10px 0;
            }
            i{
                display: inline-block;
                background-image: url(http://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
                background-repeat: no-repeat;
                background-position: 0 -1142px;
                margin-right: 5px;
                vertical-align: middle;
                width: 16px;
                height: 20px;
          
            }
        }
        .appBox{
            margin: 40px 40px;
            img{
                width: 120px;
                height: 120px;
                margin: 0px 20px;
            }
        }
    }
}
/*放大镜乱七八糟的样式*/

.small-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.magnifier {
    width: 500px;
    position: relative;
    .magnifier-container {
        width: 500px;
        height: 500px;
        overflow: hidden;
        position: relative;
        border: 1px solid #ddd;
    }
    .move-view {
        width: 100px;
        height: 100px;
        position: absolute;
        background-image: url('../images/move-box.png');
    }
    .images-cover {
        height: 100%;
        width: 100%;
        position: relative;
        img {
            position: absolute;
        }
    }
}

.magnifier-assembly {
    height: 92px;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.magnifier-btn {
    position: absolute;
    font-family: "宋体";
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -40px;
    span {
        line-height: 80px;
        height: 80px;
        width: 20px;
        background-color: #6e6e6e;
        color: #fff;
        display: block;
        z-index: 9998;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        border-radius: 3px;
    }
    .magnifier-btn-left {
        float: left;
    }

    .magnifier-btn-right {
        float: right;
    }
}



.magnifier-line {
    position: relative;
    overflow: hidden;
    height: 92px;
    ul {
        display: block;
        font-size: 0;
        width: 10000%;
        position: absolute;
        left: 0;
        z-index: 9997;
        li {
            float: left;
            width: 100px;
            cursor: pointer;
        }
    }
}



.magnifier-line ul>.active .small-img {
    border-color: #bbb;
}

.small-img {
    height: 78px;
    padding: 1px;
    margin: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
    text-align: center;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}


.magnifier-view {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -105%;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    display: none;
    overflow: hidden;
    img {
        display: block;
    }
}


.animation03 {
    transition: all 0.3s ease-in 0.1s;
    -ms-transition: all 0.3s ease-in 0.1s;
    -moz-transition: all 0.3s ease-in 0.1s;
    -webkit-transition: all 0.3s ease-in 0.1s;
    -o-transition: all 0.3s ease-in 0.1s;
}
/*title部分*/
#title{
    position: relative;
    .titleBox{
        padding: 10px 0 18px;
        position: relative;
        .linkhome {
            background: url(http://s.maiyaole.com/images/201306/img/yw_home.png) no-repeat scroll 0 -2px transparent;
            display: inline-block;
            padding-left: 25px;
        }
        .arrow{
            font-family: "宋体";
            margin: 0 8px;
        }
        span{
            a{
                color: #333;
            }
            
        }
    }
}
