
#search{
    .container{
        padding-top:26px ;
        h1{
            float: left;
            width: 118px;
            height: 64px;
            margin-right: 80px;
            background: url(../css/img/logo_01.png) no-repeat center;
        }
        .search{
            position: relative;
            float: left;
            width: 524px;
            margin-left: 85px;
            input{
                padding-left:5px ;
                margin: 10px;
                width: 450px;
                height: 44px;
                border: 1px solid #C7A872;
                outline: 0 none;
            }
            #search_btn{
                height: 44px;
                width: 82px;
                background-color: #fff;
                border: 1px solid #C7A872;
                position: absolute;
                top:10px;
                left:428px;
                background-image: url(http://s.maiyaole.com/images/201306/images/search.png);
                background-repeat:no-repeat ;
                background-position: center;
            }
            li{
                float: left;
                margin-left: 15px;
                font-size: 12px;
                cursor: pointer;
            }
        }
        .buyCarLink{
           position: relative;
           i{
               font-size: 20px;
           }
           div{
               cursor: pointer;
               margin-left:10px ;
               margin-top:4px ;
               border: 1px solid #ddd;
               height: 40px;
               width: 110px;
               line-height: 38px;
               padding-left: 10px;
           }
        }
    }
}
/*search部分的样式*/
#nav{
    .nav_1{
        li{

            float: left;  
            height: 48px;
            line-height: 48px;
            padding: 0 10px;
            cursor: pointer;
           .global{
                width: 20px;
                height: 20px;
                display: inline-block;
                float: left;
                margin-top: 13px;
                margin-right: 5px;
                background: url(http://s.maiyaole.com/images/201306/images/haitao_ico.gif) no-repeat 0 0;
           }
        }
        li:nth-child(1){
            
            color: #fff;
            width: 168px;
          
            background-color: #193239;

            padding-left: 12px;
            font-size: 14px;
            position: relative;
            
        }
        
    }
    
}
/*nav的样式*/
#banner{
    position: relative;
    border-top: 2px solid #D1BA91;
    .container{
//      padding-left:183px;
.nav_2 {
    position: absolute;
    top: 0;
    left: 14px;
    background-color: #314249;
    li {
        color: #fff;
        height: 40px;
        width: 168px;
        padding-left: 8px;
        background-color: #314249;
        font-weight: 200;
        font-size: 12px;
        i {
            display: inline-block;
            font-size: 22px;
            padding-right: 10px;
        }
    }
    li:hover {
        position: relative;
        left: 0;
//      margin-left: 10px;
        background-color: #fff;
        color: #314249;
        width: 100%;
        
    }
}
        .example{
            margin-left:168px;
            width: 750px;
            height: 400px;
            
            .ft-carousel{
                overflow: hidden;
                position: relative;
                width: 100%;
                height: 100%;
                .carousel-inner{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    li{
                        float: left;
                        height: 100%;
                    }
                }
            }
            
        }
        
    }
    .ft-carousel .carousel-indicators {
    position: absolute;
    left: 30%;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.ft-carousel .carousel-indicators span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3e535a;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
}

.ft-carousel .carousel-indicators span.active {
    background-color: #333;
}

    .aside{
        box-sizing: border-box;
        padding-left: 10px;
        padding-top: 10px;
        width: 243px;
        height: 400px;
        border:1px solid #D1BA91;
        .title{
            text-align: center;
           
            span{
                font-size: 16px;
                color:#333;
                &.special{
                    padding-right: 10px;
                    color: #c7a774;
                    text-decoration: underline;
                }
            }
        }
        ul{
            padding-top: 10px;
        }
        li{
            width: 30%;
            float: left;
            cursor: pointer;
            color: #707070;
            padding: 5px 0;
        }
        li:hover{
            color: #707070;
            text-decoration: underline;
        }
        .aside_bottom{
            padding-top: 20px;
            a{
                 display: inline-block;
                color: #C7A774;
                font-size: 12px;
                .cirle{
                    position: relative;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    border-radius: 50%;
                    border: 1px solid #C7A774;
                    width: 34px;
                    height: 34px;
                    text-align: center;
                    line-height: 34px;
                }
                p{
                    padding-top: 10px;
                }
                
            }
        }
    }  
}
/*banner样式*/
#warp1{
    padding: 10px 0;
    .clockBox{
        position: relative;
        width: 168px;
        height: 150px;
        float: left;
        background: url(http://s.maiyaole.com/images/201306/img/clock01.png) no-repeat center;
        .clock{
            position: absolute;
            left: 63px;
            top:40px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 4px solid transparent;
            .clock-h{
                    position: absolute;
                    top: 2px;
                    left: 17px;
                    height: 18px;
                    width: 5px;
                    background: url(http://s.maiyaole.com/images/201306/img/clock_h.png) no-repeat;
                    transform: rotate(10deg);
                    -webkit-transform-origin: 2.5px 16.5px;
                    -moz-transform-origin: 2.5px 16.5px;
                    transform-origin: 2.5px 16.5px;
            }
            .clock-m{
                position: absolute;
                left: -1px;
                top: 15px;
                width: 25px;
                height: 3px;
                background-color: #fff;
                transform-origin: 20px 2.5px;
                
                
            }
        }
        .clock:before{
            content: "";
            position: absolute;
            left: 14px;
            top: 14px;
            width: 7px;
            height: 7px;
            border-radius:50%;
            background-color: #fff;
            animation: rol 1s;
        }
    }
    a{
        display: inline-block;
        width: 245px;
        height: 150px;
    }
    .wrapImg{
        padding-top:10px;
    }
}
/*wrap样式，该死的闹钟*/
#main{
    .index_floor{
        margin-top: 30px;
        border: 1px solid #F3F3F3;
        font-family: "Microsoft Yahei";
        color: #5e5e5e;
        width: 1189px;
        height: 485px;
        border-bottom: none;
        .in_floor_l{
            float: left;
            width: 168px;
            .floor_name{
                padding-left: 20px;
                height: 85px;
                line-height: 85px;
                background: #F8F8F8;
                font-size: 20px;
            }
            li{
                float: left;
                width: 83px;
                height: 49px;
                border: 1px solid #F3F3F3;
                border-left:none ;
                border-top:none;
                text-align: center;
                line-height: 49px;
                font-size: 14px;
                
            }
        }
    }
    .index_floor.floor_1{
        border-top: 2px solid #92c4ff;
    }
    .index_floor.floor_2 {
        border-top: 2px solid #ffa27a;
    }
    .index_floor.floor_3 {
        border-top: 2px solid #ff6b6b;
    }
    .index_floor.floor_4 {
        border-top: 2px solid #f6c89e;
    }
    .index_floor.floor_5 {
        border-top: 2px solid #aee177;
    }
    .index_floor.floor_6 {
        border-top: 2px solid #ffacd0;
    }
    .index_floor.floor_7 {
        border-top: 2px solid #cac3f2;
    }
    .index_floor.floor_8 {
        border-top: 2px solid #fcb0c0;
    }
    .index_floor.floor_9 {
        border-top: 2px solid #cac4f2;
    }
    .index_floor.floor_10 {
        border-top: 2px solid #16f0cf;
    }
    .in_floor_r{
       float: right;
       width: 1009px;
        //小轮播图的样式
        .example{
            width: 600px;
            height: 284px;
            float: left;
        }
        .ft-carousel{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .ft-carousel .carousel-inner {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
        }
        
        .ft-carousel .carousel-inner .carousel-item {
            float: left;
            height: 100%;
        }
        
        .ft-carousel .carousel-item img {
            width: 100%;
        }
        
        .ft-carousel .carousel-indicators {
            position: absolute;
            left: 172px;
            bottom: 10px;
            width: 100%;
            text-align: center;
            font-size: 0;
        }
        
        .ft-carousel .carousel-indicators span {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: #fff;
            margin: 0 4px;
            border-radius: 50%;
            cursor: pointer;
        }
        
        .ft-carousel .carousel-indicators span.active {
            background-color: #de3a3a;
        }
        
        .ft-carousel .carousel-btn {
            position: absolute;
            top: 50%;
            width: 50px;
            height: 45px;
            margin-top: -25px;
            cursor: pointer;
        }
        .spShow{
            
            li{
                float: left;
                width: 198px;
                padding: 20px 50px 10px 50px;
                border-right: 1px solid #F3F3F3;
                border-bottom: 1px solid #F3F3F3;
                height: 193px;
                &.last{
                border-right: none;
                    
                }
            }
            .title{
                font-size: 14px;
                height: 20px;
                text-align: center;
                margin: 15px 0 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .price{
                color: #e72418;
                font-size: 16px;
                text-align: center;
            }
        }
        
    }
    
    
}
/*main各个楼层样式*/
#link{
    padding-top: 18px;
    .linkBox{
        background: #F8F8F8;
        border-bottom: 1px solid #E6E6E6;
        li{
            display: inline;
            float: left;
            width: 178px;
            height: 33px;
            border-right: 1px solid #E6E6E6;
            font-size: 12px;
            line-height: 33px;
            text-align: center;
            cursor: pointer;
            
        }
        li.cur{
            background: #fff;
            font-weight: 700;
            height: 34px;
            margin-bottom: -1px;
        }
    }
    .linkC{
        border: 1px solid #E2E2E2;
        border-top: 0 none;
    }
    .fshop{
        padding: 8px 0 15px 8px;
        a{
            float: left;
            display: block;
            background: url(http://s.maiyaole.com/images/201306/images/img_btm_logo.png) no-repeat;
            width: 110px;
            height: 46px;
            text-indent: -9999px;
            margin: 7px 8px 0 0;
            opacity: 0.7;
        }
        a:hover{
            opacity: 1;
        }
        .btm_logo01{
            background-position:0 top ;
        }
        .btm_logo02{
            background-position: -118px top;
        }
        .btm_logo03{
            background-position: -236px top;
        }
        .btm_logo04{
            background-position: -354px top;
        }
        .btm_logo05{
            background-position: -472px top;
        }
        .btm_logo06 {
            background-position: -590px top;
        }
        .btm_logo07 {
            background-position: -708px top;
        }
        .btm_logo08 {
            background-position: -826px top;
        }
        .btm_logo09{
            background-position: -944px top;
        }
        .btm_logo10{
            background-position: -1062px top;
        }
        .btm_logo11{
            background-position: -118px -53px;
        }
        .btm_logo12 {
            background-position: -236px -53px;
        }
        .btm_logo15 {
            background-position: -944px -53px;
        }
    }
    .friendly{
        padding-top:20px ;
        padding-left: 30px;
        display: none;
        height: 130px;
        a{
            display: block;
            width: 128px;
            height: 26px;
            float: left;
            font-size: 12px;
            color: #666;
            margin: 0;  
        }
    }
}
/* link部分的样式*/
#commit{
    height: 180px;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
    background-color: #f0f0f0;
    overflow: hidden;
    zoom: 1;
    clear: both;
    li{
        color: #5e5e5e;
        width: 250px;
        float: left;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        margin: 20px 0 0 38px;
        position: relative;
        top: 0;
        p{
            font-weight: bold;
            padding: 10px 0;
            font-size: 16px;
            color: #333333;
        }
        .cirle {
            color:#c7a774;
            position: relative;
            top: 0;
            left: 0;
            display: inline-block;
            border-radius: 50%;
            border: 1px solid #C7A774;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            font-size: 24px;
            font-weight: 500;
            padding: 0;
        }
        span{
            color: #8C8C8C;
        }
    }
}
/*commit部分的样式*/
#app{
    margin-bottom:10px ;
    li{
        width: 343px;
        height: 140px;
        background: #f0f0f0;
        
        float: left;
        margin-left: 20px;
        overflow: hidden;
    }
    .nomargin{
        margin: 0;
    }
}
/*app的部分样式*/
#foot{
    .service_port {
        width: 285px;
        float: right;
        border-left: 1px solid #eee;
        text-align: center;
        margin-top: 28px;
        padding: 15px 0;
            .tel {
            font-size: 18px;
            color: #c7a774;
            font-weight: 700;
            }
            .service_time {
                color: #999;
                line-height: 18px;
                padding-top: 8px;
            }
    }
    dl {
        width: 130px;
        margin: 28px 10px 0 4px;
        float: left;
        display: inline;
        a{
            color: #999;
          }
    }
    .first_dl {
        padding-left: 40px;
    }
}
/*foot部分的样式*/
#gray_box{
    padding-top:30px ;
    line-height: 24px;
    text-align: center;
    color: #5E5E5E;
    p{
        padding: 0 6px;
        a{
            margin: 0 4px;
            color: #5E5E5E;
            
        }
    }
    .grayImg{
        margin: 5px;
    }
    .grayImg2{
        padding: 20px 0;
        margin-bottom:10px ;
    }
    .ta_center{
            text-align: center;
            padding: 15px 0 0;
            }
}
/***************************************************************************************/
#float_r_box{
    position: fixed;
    right: 28px;
    top: 130px;
    bottom: 10px;
    z-index: 100;
    width: 52px;
    height: 256px;
    a{
        overflow: hidden;
        display: inline-block;
        zoom: 1;
        width: 52px;
        height: 52px;
        float: left;
        text-indent: -9999px;
        background: url(http://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
    }
    
    .f_home{
        background-position: 0 -622px;
    }
    .f_wei{
        background-position: 0 -674px;
        height: 51px;
        line-height: 52px;
        font-weight: bold;
        color: #e72519;
        text-align: center;
        width: 52px;
        position: relative;
        text-indent: 0;
        i{
            position: absolute;
            color: #fff;
            right: 11px;
            top:8px;
            height: 12px;
            width: auto;
            min-width: 12px;
            background: red;
            font-size: 12px;
            line-height: 12px;
            padding: 2px;
        }
        
           
        
    }
    .f_wei:hover {
        background-color: none;
        background-position: -52px -674px;
        text-indent: -999px;
         font-size: 14px;
            color: #fff;
            i{
                display: none;
            }
        
    }
    .f_back {
        background-position: 0 -777px;
        height: 50px;
    }
    .f_top {
        background-position: 0 -827px;
        height: 51px;
    }
    .f_back:hover{
       background: red;
       color: #fff;
       text-indent: 0;
       font-family: "Microsoft YaHei";
       font-size: 16px;
       line-height: 24px;
       font-weight: 400;
       padding: 0;
       text-align: center;
       text-decoration: none;
    }
    .f_top:hover{
       background: red;
       color: #fff;
       text-indent: 0;
       font-family: "Microsoft YaHei";
       font-size: 16px;
       line-height: 24px;
       font-weight: 400;
       padding: 0;
       text-align: center;
       text-decoration: none;
    }
    .f_home:hover{
       background: red;
       color: #fff;
       text-indent: 0;
       font-family: "Microsoft YaHei";
       font-size: 16px;
       line-height: 24px;
       font-weight: 400;
       padding: 0;
       text-align: center;
       text-decoration: none;
    }
}
/*******************************************浮动盒子的样式**********************************************/
#LoutiNav{
    border: 1px solid gray;
    position: fixed;
    top: 150px;
    left: 30px;
    display: none;
    li{
        width: 47px;
        height: 32px;
        border-bottom: 1px solid gray;
        text-align: center;
        cursor: pointer;
        span{
            display: none;
        }
        
    }
    li:hover{
        
        i{
            display: none;
        }
        span{
            display: block;
            font-size: 12px;
            background: #157CDB;
            color: white;
        }
    }
    .active{
        background: #157CDB;
        color: white;
        i{
            display: none;
        }
        span{
            display: block;
            font-size: 12px;
            background: #157CDB;
            color: white;
        }
    }
    
}
