#nav {
    .container{
        border-bottom: 2px solid #d2b994;
    }
    color: #505050;
    font-size: 16px;
    .nav_1 {
        li {
            float: left;
            height: 48px;
            line-height: 48px;
            padding: 0 10px;
            cursor: pointer;
            .global {
                width: 20px;
                height: 20px;
                display: inline-block;
                float: left;
                margin-top: 13px;
                margin-right: 5px;
                background: url(http://s.maiyaole.com/images/201306/images/haitao_ico.gif) no-repeat 0 0;
            }
        }
        >li:nth-child(1) {
            color: #fff;
            width: 168px;
            background-color: #193239;
            padding-left: 12px;
            font-size: 14px;
            position: relative;
        }
        .fw:hover .nav_2 {
            display: block;
        }
    }
    .nav_2 {
        display: none;
        position: absolute;
        top: 48px;
        left: 0;
        background-color: #314249;
        li {
            color: #fff;
            height: 40px;
            width: 168px;
            padding-left: 8px;
            background-color: #314249;
            font-weight: 200;
            font-size: 12px;
            i {
                display: inline-block;
                font-size: 22px;
                padding-right: 10px;
            }
        }
        li:hover {
            position: relative;
            left: 0;
            //      margin-left: 10px;
            background-color: #fff;
            color: #314249;
            width: 100%;
        }
    }
}


/*nav的样式*/


/*main部分，里面有手工琴还有列表项*/

#main {
    .searchColSub {
        width: 180px;
        .itemChoose {
            overflow: hidden;
            margin: 10px 0;
            border: 1px solid #DBDBDB;
            border-top: 0;
            h2 {
                font-size: 14px;
                font-weight: bold;
                padding: 8px 12px 9px;
                background-color: #ddd;
                border-top: 1px solid #dbdbdb;
                a {
                    color: #5E5E5E;
                }
                
            }
            h3 {
                height: 36px;
                overflow: hidden;
                padding: 0 5px 0 15px;
                font-size: 12px;
                line-height: 36px;
                border-top: 1px solid #e6e6e6;
                background-color: #f5f5f5;
                a {
                    color: #5e5e5e;
                }
                a:hover{
                    color: red;
                    text-decoration: underline;
                }
                i {
                    cursor: pointer;
                    margin-top: 10px;
                    margin-right: 10px;
                    height: 16px;
                    line-height: 16px;
                    text-align: center;
                    float: left;
                    width: 18px;
                    font-size: 16px;
                    outline: none;
                    border: 1px solid #DBDBDB;
                    background-color: #fff;
                }
            }
            ul {
                                 display: none;
                padding: 7px 0;
                overflow: hidden;
                a {
                    color: #5e5e5e;
                }
                li{
                    line-height: 25px;
                    white-space: nowrap;
                    padding: 0 5px 0 34px;
                }
                li:hover{
                    
                    a{
                        color: red;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .searchColMain{
        width:980px;
        h2{
           position: relative;
           padding: 10px 0;
           color: red;
           span{
               color: #5E5E5E;
               i{
                   color: red;
                   font-weight: bold;
               }
           }
        }
        .gAttr{
            width: 100%;
            border: 1px solid #DBDBDB;
            li{
               cursor: pointer;
              height: 30px;
              line-height: 30px;
              margin: 0 10px;  
              span{
                  padding: 0 20px;
              }
            }
            li:nth-child(2){
                border: 1px solid #DBDBDB;
                border-left:0 none ;
                border-right: 0 none;
            }
        }
        #goods{
            ul{
               position: relative;
                li{
                    box-sizing: border-box;
                    float: left;
                    margin: 4px 6px 10px 0;
                    height: 380px;
                    position: relative;
                    width: 239px;
                    img{
                        display: block;
                        margin: 0 auto;
                        width: 200px;
                        height: 200px;
                    }
                    .price{
                        font-size: 16px;
                        font-weight: bold;
                        color: #FF0000;
                        position: relative;
                        padding: 5px 0;
                        margin-top: 5px;
                        text-align: center;
                    }
                    .name{
                        color: #333333;
                        line-height: 20px;
                        text-align: center;
                    }
                    .talk{
                        padding:0 5px ;
                        color: #5E5E5E;
                        i{
                            font-size: 16px;
                            color: red;
                        }
                        span{
                            font-weight: bold;
                            float: right;
                        }
                    }
                    .smb{
                        padding:0 10px;
                        margin-top: 10px;
                        div{
                            width: 20px;
                            height: 20px;
                            float: left;
                            border: 1px solid #CCCCCC;
                            text-align: center;
                            line-height: 20px;
                            cursor: pointer;
                        }
                        input{
                            float: left;
                            display: inline-block;
                            width: 20px;
                            height: 15px;
                            outline: none;
                        }
                    }
                }
                li:hover{
                    border: 3px solid #DBDBDB;
                }
            }
        }
    }
}


/*右边浮动盒子的样式*/

#float_r_box {
    position: fixed;
    right: 28px;
    top: 130px;
    bottom: 10px;
    z-index: 100;
    width: 52px;
    height: 256px;
    a {
        overflow: hidden;
        display: inline-block;
        zoom: 1;
        width: 52px;
        height: 52px;
        float: left;
        text-indent: -9999px;
        background: url(http://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
    }
    .f_home {
        background-position: 0 -622px;
    }
    .f_wei {
        background-position: 0 -674px;
        height: 51px;
        line-height: 52px;
        font-weight: bold;
        color: #e72519;
        text-align: center;
        width: 52px;
        position: relative;
        text-indent: 0;
        i {
            position: absolute;
            color: #fff;
            right: 11px;
            top: 8px;
            height: 12px;
            width: auto;
            min-width: 12px;
            background: red;
            font-size: 12px;
            line-height: 12px;
            padding: 2px;
        }
    }
    .f_wei:hover {
        background-color: none;
        background-position: -52px -674px;
        text-indent: -999px;
        font-size: 14px;
        color: #fff;
        i {
            display: none;
        }
    }
    .f_back {
        background-position: 0 -777px;
        height: 50px;
    }
    .f_top {
        background-position: 0 -827px;
        height: 51px;
    }
    .f_back:hover {
        background: red;
        color: #fff;
        text-indent: 0;
        font-family: "Microsoft YaHei";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        padding: 0;
        text-align: center;
        text-decoration: none;
    }
    .f_top:hover {
        background: red;
        color: #fff;
        text-indent: 0;
        font-family: "Microsoft YaHei";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        padding: 0;
        text-align: center;
        text-decoration: none;
    }
    .f_home:hover {
        background: red;
        color: #fff;
        text-indent: 0;
        font-family: "Microsoft YaHei";
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        padding: 0;
        text-align: center;
        text-decoration: none;
    }
}