@charset "UTF-8";
.red {
  color: #e54948 !important; }

.fw {
  font-weight: 800; }

.purple {
  color: #7F47F0; }

#head {
  position: relative;
  z-index: 102;
  background: #f1f1f1;
  height: 36px;
  width: 100%; }
  #head .container ul.fr {
    width: 498px;
    font-size: 12px;
    color: #5E5E5E; }
    #head .container ul.fr .menu {
      float: left;
      display: inline;
      padding: 0 8px;
      background: url(http://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
      background-position: right -178px; }
      #head .container ul.fr .menu .menu_hd {
        z-index: 10002;
        position: relative;
        padding: 0;
        height: 36px;
        line-height: 36px; }
        #head .container ul.fr .menu .menu_hd a {
          color: #5e5e5e;
          position: relative; }
          #head .container ul.fr .menu .menu_hd a em {
            display: inline-block;
            background: url(http://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
            background-position: right -108px;
            width: 9px;
            height: 16px;
            margin-top: 8px;
            margin-right: 7px;
            overflow: hidden; }
        #head .container ul.fr .menu .menu_hd .menu_bd_app {
          display: none;
          border: 1px solid #E5E5E5;
          border-top: none;
          position: absolute;
          top: 34px;
          left: -90px; }
          #head .container ul.fr .menu .menu_hd .menu_bd_app li {
            width: 185px;
            height: 83px;
            padding-left: 85px;
            background: url(../css/img/common_sprite.png) no-repeat right 0;
            background-position: -88px -224px;
            background-color: #fff; }
        #head .container ul.fr .menu .menu_hd .menu_bd_panel {
          display: none;
          border: 1px solid #E5E5E5;
          border-top: none;
          position: absolute;
          top: 34px;
          padding-left: 5px;
          background-color: #fff; }
        #head .container ul.fr .menu .menu_hd a#myyaowang {
          display: inline-block;
          width: 80.2px; }
        #head .container ul.fr .menu .menu_hd a.down {
          height: 34px;
          display: inline-block;
          background-color: #fff;
          padding: 0 4px;
          border: 1px solid #E5E5E5;
          border-bottom: none;
          line-height: 32px;
          margin-top: 2px; }
      #head .container ul.fr .menu .myyaowang:hover .menu_bd_panel {
        display: block; }
      #head .container ul.fr .menu .PhoneApp:hover .menu_bd_app {
        display: block;
        background-color: #fff; }
      #head .container ul.fr .menu .tellnumber {
        overflow: hidden;
        float: left;
        font-size: 12px;
        color: #c7a774;
        font-weight: 700;
        font-family: tahoma;
        line-height: 36px; }
      #head .container ul.fr .menu a:hover {
        color: #0083CE; }
    #head .container ul.fr .menu_last {
      background-image: none;
      padding-right: 0; }
  #head .container ul.fl .menu {
    line-height: 36px;
    position: absolute;
    color: #746E6E;
    padding-left: 5px; }
    #head .container ul.fl .menu span:nth-child(2) {
      padding-left: 8px;
      font-weight: bold; }
    #head .container ul.fl .menu .hd_provinceList {
      position: absolute;
      top: 36px;
      left: -1px;
      width: 280px;
      border: 1px solid #E5E5E5;
      background: #fff;
      color: #333;
      font-weight: 400;
      cursor: default;
      padding: 5px 0;
      border-top: none;
      display: none; }
      #head .container ul.fl .menu .hd_provinceList li {
        padding-left: 10px;
        line-height: 22px;
        color: #a5a5a5;
        font-weight: 700;
        float: none;
        background-color: #fff; }
        #head .container ul.fl .menu .hd_provinceList li a {
          margin: 0 4px;
          padding: 1px 2px;
          font-size: 12px;
          color: #5E5E5E; }
        #head .container ul.fl .menu .hd_provinceList li a:hover {
          color: #0083CE; }
  #head .container ul.fl .menu:hover {
    background: #fff;
    padding-left: 5px; }
    #head .container ul.fl .menu:hover .hd_provinceList {
      display: block; }

/*头部样式*/
#search .container {
  padding-top: 26px; }
  #search .container h1 {
    float: left;
    width: 118px;
    height: 64px;
    margin-right: 80px;
    background: url(../css/img/logo_01.png) no-repeat center; }
  #search .container .search {
    position: relative;
    float: left;
    width: 524px; }
    #search .container .search input {
      padding-left: 5px;
      margin: 10px;
      width: 450px;
      height: 44px;
      border: 1px solid #C7A872;
      outline: 0 none; }
    #search .container .search #search_btn {
      height: 44px;
      width: 82px;
      background-color: #fff;
      border: 1px solid #C7A872;
      position: absolute;
      top: 10px;
      left: 428px;
      background-image: url(http://s.maiyaole.com/images/201306/images/search.png);
      background-repeat: no-repeat;
      background-position: center; }
    #search .container .search li {
      float: left;
      margin-left: 15px;
      font-size: 12px;
      cursor: pointer; }
  #search .container .buyCarLink {
    position: relative; }
    #search .container .buyCarLink i {
      font-size: 20px; }
    #search .container .buyCarLink div {
      cursor: pointer;
      margin-left: 10px;
      margin-top: 4px;
      border: 1px solid #ddd;
      height: 40px;
      width: 110px;
      line-height: 38px;
      padding-left: 10px; }

/*search部分的样式*/
#nav .nav_1 li {
  float: left;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  cursor: pointer; }
  #nav .nav_1 li .global {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
    margin-top: 13px;
    margin-right: 5px;
    background: url(http://s.maiyaole.com/images/201306/images/haitao_ico.gif) no-repeat 0 0; }

#nav .nav_1 li:nth-child(1) {
  color: #fff;
  width: 168px;
  background-color: #193239;
  padding-left: 12px;
  font-size: 14px;
  position: relative; }

/*nav的样式*/
#banner {
  position: relative;
  border-top: 2px solid #D1BA91; }
  #banner .container .nav_2 {
    position: absolute;
    top: 0;
    left: 94px;
    background-color: #314249; }
    #banner .container .nav_2 li {
      color: #fff;
      height: 40px;
      width: 168px;
      padding-left: 8px;
      background-color: #314249;
      font-weight: 200;
      font-size: 12px; }
      #banner .container .nav_2 li i {
        display: inline-block;
        font-size: 22px;
        padding-right: 10px; }
    #banner .container .nav_2 li:hover {
      position: relative;
      left: 0;
      background-color: #fff;
      color: #314249; }
  #banner .container .example {
    margin-left: 168px;
    width: 750px;
    height: 400px; }
    #banner .container .example .ft-carousel {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%; }
      #banner .container .example .ft-carousel .carousel-inner {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%; }
        #banner .container .example .ft-carousel .carousel-inner li {
          float: left;
          height: 100%; }
  #banner .ft-carousel .carousel-indicators {
    position: absolute;
    left: 30%;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0; }
  #banner .ft-carousel .carousel-indicators span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3e535a;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer; }
  #banner .ft-carousel .carousel-indicators span.active {
    background-color: #333; }
  #banner .aside {
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    width: 243px;
    height: 400px;
    border: 1px solid #D1BA91; }
    #banner .aside .title {
      text-align: center; }
      #banner .aside .title span {
        font-size: 16px;
        color: #333; }
        #banner .aside .title span.special {
          padding-right: 10px;
          color: #c7a774;
          text-decoration: underline; }
    #banner .aside ul {
      padding-top: 10px; }
    #banner .aside li {
      width: 30%;
      float: left;
      cursor: pointer;
      color: #707070;
      padding: 5px 0; }
    #banner .aside li:hover {
      color: #707070;
      text-decoration: underline; }
    #banner .aside .aside_bottom {
      padding-top: 20px; }
      #banner .aside .aside_bottom a {
        display: inline-block;
        color: #C7A774;
        font-size: 12px; }
        #banner .aside .aside_bottom a .cirle {
          position: relative;
          top: 0;
          left: 0;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid #C7A774;
          width: 34px;
          height: 34px;
          text-align: center;
          line-height: 34px; }
        #banner .aside .aside_bottom a p {
          padding-top: 10px; }

/*banner样式*/
#warp1 {
  padding: 10px 0; }
  #warp1 .clockBox {
    position: relative;
    width: 168px;
    height: 150px;
    float: left;
    background: url(http://s.maiyaole.com/images/201306/img/clock01.png) no-repeat center; }
    #warp1 .clockBox .clock {
      position: absolute;
      left: 63px;
      top: 40px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 4px solid transparent; }
      #warp1 .clockBox .clock .clock-h {
        position: absolute;
        top: 2px;
        left: 17px;
        height: 18px;
        width: 5px;
        background: url(http://s.maiyaole.com/images/201306/img/clock_h.png) no-repeat;
        transform: rotate(10deg);
        -webkit-transform-origin: 2.5px 16.5px;
        -moz-transform-origin: 2.5px 16.5px;
        transform-origin: 2.5px 16.5px; }
      #warp1 .clockBox .clock .clock-m {
        position: absolute;
        left: -1px;
        top: 15px;
        width: 25px;
        height: 3px;
        background-color: #fff;
        transform-origin: 20px 2.5px; }
    #warp1 .clockBox .clock:before {
      content: "";
      position: absolute;
      left: 14px;
      top: 14px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #fff;
      animation: rol 1s; }
  #warp1 a {
    display: inline-block;
    width: 245px;
    height: 150px; }

/*wrap样式，该死的闹钟*/
